
@font-face {font-family: "iconfont";
  src:url('../fonts/iconfont.ttf') format('truetype');/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shequ:before { content: "\e604"; }

.icon-iconfontshequ:before { content: "\e662"; }

.icon-luntan:before { content: "\e60a"; }

.icon-gonggaolan:before { content: "\e831"; }

.icon-chazhao:before { content: "\e602"; }

.icon-canju:before { content: "\e740"; }

.icon-icon01:before { content: "\e600"; }

.icon-gonggao:before { content: "\e6c9"; }

.icon-tongzhi5:before { content: "\e642"; }

.icon-tongzhi:before { content: "\e61b"; }

.icon-liuyan:before { content: "\e6c1"; }

.icon-wangzhanditu:before { content: "\e694"; }

.icon-tongzhi1:before { content: "\e6e0"; }

.icon-tubiaolunkuohua09:before { content: "\e66e"; }

.icon-richeng:before { content: "\e62f"; }

.icon-liaotian:before { content: "\e661"; }

.icon-kechengliebiao:before { content: "\e686"; }

.icon-jinhuodan:before { content: "\e609"; }

.icon-iconfontzhizuobiaozhun15:before { content: "\e60f"; }

.icon-kechengjieshao:before { content: "\e743"; }

.icon-columnchuangshirenshuo:before { content: "\e61a"; }

.icon-tongzhi2:before { content: "\e683"; }

.icon-xw:before { content: "\e60b"; }

.icon-maiche-copy:before { content: "\e601"; }

.icon-fang:before { content: "\e62e"; }

.icon-chazhao1:before { content: "\e62a"; }

.icon-liuyan1:before { content: "\e65e"; }

